*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loder{
  width: 800px;
  height: 800px;
  border-radius: 50%;
  /* overflow: hidden; */
  background-color: red;
  animation-name: load-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loder::before,
.loder::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  border-radius: 50%;
  border: 400px solid transparent;
  /* 사이즈키우기 */
  border-top-color: red ;
  border-left-color: rgb(9, 255, 0) ;
  border-bottom-color: rgb(217, 255, 0) ;
  border-right-color: rgb(0, 110, 255) ;

  
}


.loder::after{
  animation-name: loadspin-opacity;
  animation-duration:2S;
  animation-iteration-count:infinite;
}

.loder::before{
  filter: blur(2px);
}

@keyframes load-spin{
 0%{
  transform: rotate(0deg);
 }
 100%{
  transform: rotate(-1800deg);
 }
}

@keyframes loadspin-opacity{
  0%{
    opacity:1;
  }
  50%{
    opacity:0;
  }
  80%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}