*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animated-container{
  position: relative;
  width: 70%;
  margin: 30px auto;
  background-color: dodgerblue;

}

.animated-container img{
  width: 50%;
}

.elements{
  position: absolute;
  top:0;
  left: 0;
  animation-name: move;
  animation-duration: 1.5S;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* 일정한 속도로 움직여라 리니어 */

}

@keyframes move{
  0%{
    transform: translate(-15px,0px);
  }
  50%{
    transform: translate(0px,-15px);
  }
  100%{
    transform: translate(-15px,0px);
  }


}

/* .wrapper{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.animated-container{
  position: relative;
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: dodgerblue;


}

.animated-container img:nth-child(1){
  position: relative;
  width: 40%;
  object-fit: contain;
  
}
.animated-container img:nth-child(2){
  position: absolute;
  top:-18px;
  width: 30%;
  object-fit: contain;
  z-index: 100;
  animation-name: picture;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 400ms ease-in-out;
  
  
}


@keyframes picture{
  from{


  }
  50%{
    left: -25px;
    top:15px
  }
  100%{
   
    left: -50px;
    
    top: 30px;
    transition: all 400ms ease-in-out ;
  }
} */
