@font-face {
	font-family: Orbitron;
	src: url(./webfonts/Orbitron-Regular.eot);
	src: url(./webfonts/Orbitron-Regular.woff) format("woff");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;

}

a{
  text-decoration: none;
  color: #555;
}


/* 명시한 첫번째 폰트가 없을 경우 기본 폰트 지정 */
body {
	font-family: Orbitron, sans-serif;
}

/* img{
  display: none;
} */

#wrapper{
  /* fixed는 뷰포트 기준으로 움직이므로 문서의 흐름을 벗어나서 화면 영역으로 정렬 */
  position: fixed;
  width: 100%;
  height: 100vh;
}

.global-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;

}

.logo{
  width: 90px;
  height: 80px;
  background: url(./image/logo_b.png) no-repeat;
  background-size: contain;
  /* 단축속성 background */
}


.gnb{
  display: flex;
}

.gnb li{
  margin-right: 30px;
}

.gnb li:last-child{
  margin-right: 0;
}


.gnb li a{
  font-size: 14px;
  font-weight: 700;
}

.gnb li a:hover{
  color: #000;
}

.gnb li a::after{
  content: '';
  width: 100%;
  display: block;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  transform: scaleX(0);
  transition: transform 500ms;
}

.gnb li a:hover:after{
  transform: scaleX(1);
}

section{
  position: absolute;
  top: 300px;
  left: 150px;
  
}

section p{
  font-size: 50px;
  color: #666;
}

section p strong{
  
  color: #333;
}

section em {
  font-size: 14px;
  font-style: normal;
  color:#333;
}

#phone{
  position: absolute;
  top: 200px;
  right: -300px;
  width: 1200px;
  height: 800px;
  /* background-image: url(./image/phone_morning.png); */
}

/* 1.positon
  2.width/height size 
  3.display*/  

#phone p{
  position: absolute;
  top:100px;
  left: 135px;
  width: 545px;
  height: 310px;
  overflow: hidden;
  font-size: 60px;
  font-weight: 700;
  color: #333;
  line-height: 310px;
  padding-left: 60px;
  /* border: 1px solid red; */
}

nav{
 position: fixed;
 bottom: 70px;
 width: 90%;
 left: 50%;
 transform: translate(-50%);
}

nav ul{
  display: flex;
}

nav ul li{
  width: 25%;
  margin-right: 8px;


}

nav ul li:last-child{
  margin-right: 0;
}

nav ul li a{
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  font-weight: bold;
  background-color: #fff;
  opacity: .6;
  color: #111;
  /* 자간 :글자와 글자 사이 간격 */
  letter-spacing: 3px;
}


nav ul li:hover a,
nav li.on a{
  background-color: #111;
  color:#ddd;
  opacity: .8;

}

/* background 변경 */
#wrapper.morning {
  background-image: url(./image/bg_morning.jpg);
  
}
#wrapper.morning #phone {
  background-image: url(./image/phone_morning.png);

}
#wrapper.afternoon{
  background-image: url(./image/bg_afternoon.jpg);

}

#wrapper.afternoon #phone {
  background-image: url(./image/phone_afternoon.png);

}

#wrapper.evening{
  background-image: url(./image/bg_evening.jpg);

}

#wrapper.evening #phone {
  background-image: url(./image/phone_evening.png);

}

#wrapper.night{
  background-image: url(./image/bg_night.jpg);

}

#wrapper.night #phone {
  background-image: url(./image/phone_night.png);

}

/* NIGHT일 경우에 로고, 컬러 */
#wrapper.night h1{
  background: url(./image/logo_w.png) no-repeat;
  background-size: contain;
}

#wrapper.night .gnb a{
  color: #fff;
}


#wrapper.night .gnb li a::after{
  border-color: #fff;
}

#wrapper.night strong{
  color : #fff
}

#wrapper.night p,
#wrapper.night em{
  color:#999
}

#wrapper.night #phone p{
  color: #fff;
}


#wrapper >img:nth-child(1){
  position: absolute;
  top:0;
  left: 0;
  opacity: 0.8;
  z-index: -1;
  width: 1200px;
  animation-name: ani1;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#wrapper >img:nth-child(2){
  position: absolute;
  top:20;
  left: 0;
  opacity: 0.8;
  z-index: -1;
  /* name duration | timing-function */
  animation: ani2 100s linear infinite;
}


#phone p .cloud1{
  width: 600px;
  position: absolute;
  top:0;
  left:0;
}
#phone p .cloud2{
  width: 600px;
  position: absolute;
  top:10px;
  left:0;
}

/* PC브라우저 */

@keyframes ani1 {
  0% {
    left: -100vw;
  }
  100%{
    left: 100vw;
  }
  /* from ani1 이라는 이름 to */
}

@keyframes ani2 {
  from {
    left: 0vw
  }
  50% {
    left: 1200px;
  }
  60%{
    left: -1200px;
  }
  100%{
    left: 0;
  }
}

/* 폰 */

@keyframes ani3{
from{
  left: 0px;
} to {
  left: 30px
}
}